
.container {
  position: relative;
  background-color: aqua;
}

.stacked_card {
  position: absolute;
  left: 10vmax;
  top: 10vmax;

  /* Tamanho do card */
  height: 50vmin;
  width: 50vmin;
}

.card1 {
  z-index: 100;
  background-color: rgba(25, 202, 40, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.3);

  transform: rotate(5deg);
}

.card2 {
  z-index: 99;

  background-color: rgb(202, 96, 25, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.3);

  transform: rotate(10deg);
}

.card3 {
  z-index: 98;

  background-color: rgb(43, 25, 202, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.3);

  transform: rotate(15deg);
}

.card4 {
  z-index: 97;

  background-color: rgb(202, 25, 164, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.3);

  transform: rotate(20deg);
}